extends ../layouts/main-layout.pug

block title
    title Recipes-Login

block styles 
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/signin.css")

block content
    section.form-container
        .message
            p Admin users can sign in here to add and update recipes!
            p Please do not enter any sensitive info here
        .signin-card
            .signin-content
                form.signin(action="/login", method="POST")
                    input#username(type="email", name="email", placeholder="Email")
                    input#password(type="password", name="password", placeholder="Password")
                    .signup-link
                        p Don't have an account?<br />
                        a.link-inline(href="/signup") sign up here
                    button.link-button(type="submit") Login
                    input(type="hidden", name="CSRFToken", value=csrfToken)
            .signin-background
                span.background-shape