extends ../layouts/main-layout.pug

block title 
    title Editing-#{dish}

block styles
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/detail.css")

block additional-nav-links 
    li 
        a(href="/admin/add-recipe") Add Recipe 

block content 
    main 
        section.heading 
            h1 #{dish}
            a(href='/recipes?dish='+dish) Cancel