doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
        block styles
        block scripts
        link(rel="icon", type="image/x-icon", href="/images/ricebowl_favicon.png")
    body 
        header 
            nav 
                div.logo
                    img(src="https://img.icons8.com/material-outlined/96/000000/rice-bowl.png")
                ul.navlinks
                    li
                        a(href="/") Home 
                    block additional-nav-links
                unless isAuthenticated==true
                    ul.sign-in
                        li
                            a.link-button(href="/login") Login
                if isAuthenticated==true 
                    ul.sign-out
                        li
                            form(action="/logout", method="POST")
                                button.link-button(type="submit") Log-out
                                input(type="hidden", name="CSRFToken", value=csrfToken)

        block content