<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Recipe</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/admin/add-recipe">Add Recipe</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Add recipe form below</h1>
            <form action="admin/add-recipe" method="POST">
                <input type="text" name="dish" placeholder="Dish name">
                <input type="text" name="description" placeholder="Description">
                <button type="submit">Add Recipe</button>
            </form>
        </main>
    </body>
</html>