<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/main.css">
        <title>Page Not Found</title>
    </head>
    <body>
        <main>
            <h1>Uh oh, page not found!</h1>
            <p>404 Error</p>
            <div class="return-redirect">
                <a href="/">Return to main site</a>
            </div>
        </main>
    </body>
</html>