extends layouts/main-layout.pug

block title 
    title #{dish}

block styles
    link(rel="stylesheet", href="/styles/main.css")

block additional-nav-links 
    li 
        a(href="recipe-list") Full List

block content 
    main 
        section.heading 
            h1 #{dish}
            a(href="admin/edit-recipe") Edit This Recipe