<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./styles/main.css">
        <link rel="stylesheet" href="styles/home.css">
        <title>Recipes</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">
                    <img src="https://img.icons8.com/material-outlined/96/000000/rice-bowl.png"/>
                </div>
                <ul class="navlinks">
                    <li><a href="/">Home</a></li>
                    <li><a href="admin/add-recipe">Add Recipe</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="about">
                <div class="large-card">
                    <h1>Recipes</h1>
                    <p>This is a paragraph with an explanation of the recipes site! Scroll down to browse our full list of exciting menu possibilities. Who knows, maybe these will be organised by category in the future?</p>
                </div>
            </section>
        </main>
    </body>
</html>