extends layouts/main-layout.pug

block title 
    title #{dish.name}

block styles
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/detail.css")

block additional-nav-links 
    li 
        a(href="/recipe-list") Full List

block content 
    main 
        section.heading 
            h1 #{dish.name}
            a(href='/admin/edit-recipe/'+dish.recipeID) Edit This Recipe
        section.description
            .section-title
                h2 Description
                p 35mins
            p Dynamic Description goes here 
        section.ingredients 
            h2 Ingredients 
            ul 
                li An example ingredient 
                li Another example ingredient     