extends layouts/main-layout.pug

block title
    title Recipes-Home 

block styles 
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/home.css")

block additional-nav-links 
    li 
        a(href="recipe-list") Full List
    if isAuthenticated==true
        li
            a(href="/admin/add-recipe") Add Recipe

block content 
    main 
        section.intro
            div.large-card
                h1 Recipes 
                p This is a paragraph with an explanation of the recipes site! Scroll down to browse our full list of exciting menu possibilities. Who knows, maybe these will be organised by category in the future?
        if dishes.length>0
            section.recipe-feature 
                div.feature-label
                    p Featured
                each recipe in dishes
                    a(href='/recipes/'+recipe._id)
                        article.recipe-card
                            .content
                                h2 #{recipe.name} 
                                p #{recipe.description}
                            img.dish-img(src="/images/image.webp")
        else 
            section.no-recipes
                .large-card
                    h1 No Recipes Found!
        section.about
            img(src="/images/pizza-food-icon.svg")
            .about-text
                p Recipes, a collection of over 50,000 fully instructed dishes from 30+ cuisines.
                p Join our 400,000+ monthly users and plan your next dinner party show-stopper, lazy day comfort food, exciting packed lunch
                a.link-button(href='/recipe-list') Browse all recipes