<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipes</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="admin/add-recipe">Add Recipe</a></li>
                </ul>
            </nav>
            <p>Welcome to Recipes!</p>
        </header>
        <main>
            <h1>Recipes</h1>
        </main>
    </body>
</html>