
/**     About card section  **/
.about {
    margin: 40px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

/**     Recipe card         **/
.recipe-directory,
.no-recipes {
    margin: 100px 0;
    padding: 40px 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
}

.recipe-directory {
    gap: 3rem 4rem;
    background-color: #A3DA8D;
    opacity: 1;
    background: repeating-linear-gradient( -45deg, rgb(89, 131, 107), rgba(89, 131, 107, 1) 4px, #A3DA8D 4px, #A3DA8D 20px );
}

.recipe-card {
    margin: 0;
    display: inherit;
    justify-content: space-between;
    width: 400px;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: -3px 2px black;
    transition-duration: 0.2s;
}

.recipe-card:hover {
    box-shadow: -6px 4px black;
    cursor: pointer;
}

.recipe-card:active {
    translate: -4px 3px;
    box-shadow: none;
}

.content {
    padding: 4px;
    min-height: 100px;
    display: inline-block;
}

.recipe-card h2,
.recipe-card p {
    margin: 10px 14px;
    padding: 0;
}

h2 {
    font-size: 1.2rem;
}

.dish-img {
    max-width: 110px;
    max-height: 110px;
    width: auto;
    height: auto;
}