section * {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.form-container {
    padding: 40px 0 40px 0;
    background-color: #A3DA8D;
    display: flex;
	align-items: center;
	justify-content: center;
    gap: 6rem;
}

.message,
.signup-card {
    height: 520px;
}

.message {
    width: 390px;
    padding: 100px 20px 0 20px;
}

.message p {
    margin-top: 40px;
}

.signup-card {
    min-width: 400px;
    background: repeating-linear-gradient( 45deg, rgb(215, 166, 106), rgba(215, 166, 106, 1) 4px, #FFF1BD 4px, #FFF1BD 20px );	
    border: 2px solid black;
    border-radius: 2px;
    position: relative;		
    box-shadow: -11px 14px #84af73;
}

.signup-content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.signup {
	width: 240px;
	margin: 164px 0 30px 30px;
}

.signup input {
    padding: 20px 0px;	
	position: relative;	
}

#username,
#password,
#confirm-password {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 2px;
    background: none;
    font-size: 0.9rem;
    font-family: sans-serif;
    font-weight: 500;
    width: 100%;
    transition: 0.3s;
}

.signin-link {
    width: 60%;
    display: inline-block;
    font-size: 0.8rem;
}

.signup button {
    margin: 0 0 0 auto;
    font-family: inherit;
    float: right;
}

.signup-background {
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.background-shape {
    height: 520px;
	width: 520px;
	background: #FFF;	
	top: -10px;
	right: 120px;	
	border-radius: 0 32px 0 0;
    transform: rotate(45deg);
	position: absolute;
}